@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --md-sys-color-primary: #79590C;
  --md-sys-color-outline: #7F7667;
  --md-sys-color-on-surface-variant: #4E4639;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-on-surface: #201B13;
  --md-sys-color-surface: #FFF8F3;
  --md-sys-color-secondary: #6C5C3F;
}

.fill {
  font-variation-settings:
  'FILL' 1
}

.scroll-none {
  scrollbar-width: none;
}