.container {
    display: grid;
    grid-template: 10vh 90vh / repeat(12, 1fr);

    width: 100%;
}

.container .top_bar {
    position: sticky;
    top: 0;

    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 50px;

    background-color: #fff;
}

.container .top_bar .title {
    color: #e8b219;
    font-size: 2rem;
    font-weight: 700;
}

.container .top_bar .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    font-size: 1.3rem;
}

.container .top_bar .menu .element {
    color: #e8b219;
    text-align: center;

    padding: 2px 20px;

    border-radius: 10px;
    transition: .2s ease-in-out;

    cursor: pointer;
}

.container .top_bar .menu .element#active,
.container .top_bar .menu .element:hover {
    text-decoration: none;
    background-color: rgba(238, 194, 73, 0.281);
}


.container .top_bar .options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container .top_bar .options .username {
    color: #e8b219;
    font-size: 1.3rem;
}

.container .top_bar .options .more {
    color: #e8b219;
    font-size: 1.7rem;
    text-align: center;

    width: 50px;

    border-radius: 50%;
    transition: .2s ease-in-out;

    cursor: pointer;
}

.container .top_bar .options .more:hover {
    background-color: rgba(238, 194, 73, 0.281);
}

.container .left_bar {
    grid-area: 2 / 1 / -2 / 3;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    margin: 10px 0;
    padding: 8px 10px;

    border-right: 3px solid rgba(238, 194, 73, 0.281);
}

.container .left_bar .wallet {
    display: grid;
    grid-template: 1fr 1fr / 1fr;

    width: 100%;
    height: 120px;

    background-color: #e8b11925;
    border-radius: 10px;

    cursor: pointer;
    transition: .4s ease-in-out;
}

.container .left_bar .wallet:hover {
    text-decoration: none;
    background-color: #e8b1194b;
}

.container .left_bar .wallet .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 1 / 2 / -1;

    color: #e8b219;
    font-size: 1.4rem;
    font-weight: 700;

    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.container .left_bar .wallet .balance {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-area: 2 / 1 / 3 / -1;

    color: #c45911;
    font-size: 1.7rem;
    font-weight: 700;

    padding-right: 50px;
}

.container .left_bar .newWallet {
    width: 100%;
    height: 50px;
}

.container .left_bar .newWallet button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #c45911;

    width: 100%;
    height: 50px;

    background-color: #e8b11925;
    border-radius: 10px;

    cursor: pointer;
    transition: .4s ease-in-out;
}

.container .left_bar .newWallet button:hover {
    background-color: #e8b1194b;
}

.container .container {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .7);
    transition: .4s ease-in-out;
}

.container .container .dialog {
    color: #e8b219;

    display: grid;
    grid-template: 100px 1fr 70px / 1fr;

    width: 500px;
    height: auto;
    margin: 0 0 50px 0;
    padding: 0 70px;

    background-color: #fbf4de;
    border-radius: 10px;
}

.container .container .dialog .title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: 700;

    width: 100%;
    height: 100px;
}

.container .container .dialog .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    color: #646259;

    width: 100%;
    height: auto;
}

.container .container .dialog .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;

    width: 100%;
    height: 70px;
}

.container .container .dialog .buttons button {
    color: #e8b219;
    font-size: .8rem;
    text-transform: none;

    width: auto;
    height: auto;
    padding: 4px 10px;

    background-color: inherit;
    border-radius: 3px;
}

.container .container .dialog .buttons button:hover {
    background-color: #e8b11925;
}

.container .fab button {
    background-color: #e8b219;
}

.container .main {
    position: relative;
    overflow-y: auto;

    grid-area: 2 / 3 / -1 / -1;

    width: 100%;
    padding: 10px;
}