.container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;

    width: 100%;
    transition: .4s ease-in-out;
}


.container .title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 500px;
    height: 200px;
    margin: 300px auto 0 auto;
}

.container .title .name {
    color: #e8b219;
    font-size: 5rem;
    font-weight: 700;
}

.container .title .description {
    color: #333;
    font-size: 1.5rem;

    margin-top: 30px;
    margin-left: 30px;
}


.container .register {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 460px;
    height: 600px;
    margin: 150px auto 0 auto;

    background-color: #e8b11949;
    border-radius: 10px;
}

.container .register .header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #e8b219;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0px #e8b219;

    width: 100%;
    height: 150px;
}

.container .register .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    width: 100%;
    padding: 0 50px;
}

.container .register .form input {
    color: #333;
    font-size: 1.4rem;

    height: 30px;
}

.container .register .form .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;

    width: 100%;
    margin-top: 50px;
}

.container .register .form .buttons button {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;

    width: 100px;
    height: 40px;

    cursor: pointer;
    transition: .2s ease-in-out;
}

.container .register .form .buttons button.signup {
    background-color: #e8b219;
    border-radius: 10px;
}

.container .register .form .buttons button.signin {
    color: #e8b219;
    background-color: inherit;
    border-radius: 10px;
}

.container .register .form .buttons button.signup:hover {
    background-color: #e6bb46;
}

.container .register .form .buttons button.signin:hover {
    background-color: #e8b11925;
}