.transaction {
    display: grid;
    grid-template: 40px 30px 1fr / 1fr 200px;

    width: 100%;
    height: 160px;
    padding: 20px;

    background-color: #e8b11925;
    border-radius: 10px;
}

.transaction#deposit {
    background: rgb(232, 177, 25);
    background: linear-gradient(141deg, rgba(232, 177, 25, 0.14) 50%, rgba(77, 182, 16, 0.24) 90%);
}

.transaction#withdraw {
    background: rgb(232, 177, 25);
    background: linear-gradient(141deg, rgba(232, 177, 25, 0.14) 50%, rgba(181, 38, 38, 0.24) 90%);
}

.transaction .name {
    grid-area: span 1 / span 1;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    color: #c45911;
    font-size: 1.6rem;
    font-weight: 700;

    padding-left: 10px;
}

.transaction .description {
    grid-area: span 1 / span 2;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    color: #554f4b;
    font-size: 1rem;
    font-weight: 700;

    padding-left: 20px;
}

.transaction .date {
    grid-area: span 1 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    color: #83640ec4;
    font-size: 1rem;
    font-weight: 700;
}

.transaction .amount {
    grid-area: span 1 / span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: #c53939;
    font-size: 2rem;
    font-weight: 700;
}