.saving {
    display: grid;
    grid-template: 1fr / 40% calc(60% - 20px);
    gap: 20px;

    width: 100%;
    padding: 20px;

    background-color: #e8b11925;
    border-radius: 10px;
}

.saving .progress {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
}

.saving .progress span svg {
    color: #c53939;
}

.saving .progress>svg {
    position: absolute;

    color: #e8b219;
    font-size: 4rem;
}

.saving .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;

    text-align: end;

    padding-right: 20px;
}

.saving .info .name {
    color: #c45911;
    font-size: 1.4rem;
    font-weight: 700;
}

.saving .info .goal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;

    text-align: end;
}

.saving .info .goal .label {
    color: #554f4b;

    height: 15px;
}

.saving .info .goal .value {
    color: #c53939;
    font-size: 2rem;
    font-weight: 700;
}

.saving .info span:last-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saving .info span input {
    font-size: 1.2rem;
    text-align: center;

    width: 100px;
    height: 100%;
}

.saving .info span button {
    gap: 5px;

    color: #e8b219;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
}

.saving .info span button:hover {
    background-color: #e8b11925;
}